<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<style>
    .register-task-btn {
            margin-top: 20px;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
</style>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="register-task-btn" type="submit">Login</button>
    </form>
    {% if form.errors %}
        <div style="color: red;">
            {{ form.errors }}
        </div>
    {% endif %}
    <a href="{% url 'task_list' %}">Cancel</a>
    <button class="register-task-btn" onclick="location.href='{% url 'register' %}'">Register</button>
</body>
</html>